 # Q1
 Explain with an example each when to use a for loop and a while loop.

For loop is used in the following cases
1. When the number of iterations are known before hand.
2. When we need to traverse a collection of items. eg: list, set, tuple
3. When we don't need to keep track of index/counter
4. When we want to perform a certain operation on each element in the collection.

While loop is used in the following cases
1. When the number of iterations are not known
2. When we need to traverse until a certain condition is met.
3. When we need to keep track of index/counter
4. When we want to perform a certain operation until condition is met.

In [25]:
#for loop used to traverse each element of the collection
example_list = [1,34,78,'Vedita']
for i in example_list:
    print("Printing from for loop "+str(i))
    
#while loop used until a condition is met
count = 5
while(count>0):
    print("Printing from while loop untill "+str(count)+" >0")
    count-=1

Printing from for loop 1
Printing from for loop 34
Printing from for loop 78
Printing from for loop Vedita
Printing from while loop untill 5 >0
Printing from while loop untill 4 >0
Printing from while loop untill 3 >0
Printing from while loop untill 2 >0
Printing from while loop untill 1 >0

##  Q2. 
Write a python program to print the sum 
and product of the first 10 natural numbers using for  and while loop.

In [4]:

print("printing 1-10 usin for loop")
for i in range(1,11,1):
    print(i)
    
print("Printing 1-10 using while loop")
num = 1;
while(num<=10):
    print(num)
    num+=1;

printing 1-10 usin for loop
1
2
3
4
5
6
7
8
9
10
Printing 1-10 using while loop
1
2
3
4
5
6
7
8
9
10

## Q3. 

Create a python program to compute the electricity bill for a household. 
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per  unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will  be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. 
You are required to take the units of electricity consumed in a month from the user as input. 
Your program must pass this test case: when the unit of electricity consumed by the user in a month is  310, the total electricity bill should be 2250.

In [20]:
units = int(input("Enter the units consumed "))
units_copy = units
bill = 0.0
       
if units > 300:
        bill += (units-300)*20
        units -= (units-300)
if units > 200:
        bill+= (units-200)*10
        units -= (units-200)
if units > 100:
        bill+= (units-100)*6
        units-= (units-100)
    
bill+= units*4.5

print("Bill for units consumed "+str(units_copy)+" is "+ str(bill))

Enter the units consumed 310
Bill for units consumed 310 is 2250.0

## Q4.
Create a list of numbers from 1 to 100. 
Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

In [11]:
#Q4.Create a list of numbers from 1 to 100. 
#Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list. 
numbers = list(range(1,101,1))
divisible_by_4or5 = []
print(numbers)

#using for loop
for i in numbers:
    cube = i**3;
    print("cube of "+ str(i) +" is "+ str(cube))
    
    if cube%4==0 or cube%5==0:
        divisible_by_4or5.append(i)
else:
    print(divisible_by_4or5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
cube of 1 is 1
cube of 2 is 8
cube of 3 is 27
cube of 4 is 64
cube of 5 is 125
cube of 6 is 216
cube of 7 is 343
cube of 8 is 512
cube of 9 is 729
cube of 10 is 1000
cube of 11 is 1331
cube of 12 is 1728
cube of 13 is 2197
cube of 14 is 2744
cube of 15 is 3375
cube of 16 is 4096
cube of 17 is 4913
cube of 18 is 5832
cube of 19 is 6859
cube of 20 is 8000
cube of 21 is 9261
cube of 22 is 10648
cube of 23 is 12167
cube of 24 is 13824
cube of 25 is 15625
cube of 26 is 17576
cube of 27 is 19683
cube of 28 is 21952
cube of 29 is 24389
cube of 30 is 27000
cube of 31 is 29791
cube of 32 is 32768
cube of 33 is 35937
cube of 34 is 39304
cube of 35 is 42875
cube of 36 is 46656
cube of 37 is 50653
cube of 38 is 54872
cube of 39 is 59319
cube of 40 is 64000
cube of 41 is 68921
cube of 42 is 74088
cube of 43 is 79507
cube of 44 is 85184
cube of 45 is 91125
cube of 46 is 97336
cube of 47 is 103823
cube of 48 is 110592
cube of 49 is 117649
cube of 50 is 125000
cube of 51 is 132651
cube of 52 is 140608
cube of 53 is 148877
cube of 54 is 157464
cube of 55 is 166375
cube of 56 is 175616
cube of 57 is 185193
cube of 58 is 195112
cube of 59 is 205379
cube of 60 is 216000
cube of 61 is 226981
cube of 62 is 238328
cube of 63 is 250047
cube of 64 is 262144
cube of 65 is 274625
cube of 66 is 287496
cube of 67 is 300763
cube of 68 is 314432
cube of 69 is 328509
cube of 70 is 343000
cube of 71 is 357911
cube of 72 is 373248
cube of 73 is 389017
cube of 74 is 405224
cube of 75 is 421875
cube of 76 is 438976
cube of 77 is 456533
cube of 78 is 474552
cube of 79 is 493039
cube of 80 is 512000
cube of 81 is 531441
cube of 82 is 551368
cube of 83 is 571787
cube of 84 is 592704
cube of 85 is 614125
cube of 86 is 636056
cube of 87 is 658503
cube of 88 is 681472
cube of 89 is 704969
cube of 90 is 729000
cube of 91 is 753571
cube of 92 is 778688
cube of 93 is 804357
cube of 94 is 830584
cube of 95 is 857375
cube of 96 is 884736
cube of 97 is 912673
cube of 98 is 941192
cube of 99 is 970299
cube of 100 is 1000000
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [13]:
i = 1
div_by_4or5list = []
while(i <= 100):
    cube = i**3
    print("cube of "+str(i)+" is "+str(cube))
    if(cube % 4 == 0 or cube % 5 == 0):
        div_by_4or5list.append(i)
    i+=1
print(div_by_4or5list)

cube of 1 is 1
cube of 2 is 8
cube of 3 is 27
cube of 4 is 64
cube of 5 is 125
cube of 6 is 216
cube of 7 is 343
cube of 8 is 512
cube of 9 is 729
cube of 10 is 1000
cube of 11 is 1331
cube of 12 is 1728
cube of 13 is 2197
cube of 14 is 2744
cube of 15 is 3375
cube of 16 is 4096
cube of 17 is 4913
cube of 18 is 5832
cube of 19 is 6859
cube of 20 is 8000
cube of 21 is 9261
cube of 22 is 10648
cube of 23 is 12167
cube of 24 is 13824
cube of 25 is 15625
cube of 26 is 17576
cube of 27 is 19683
cube of 28 is 21952
cube of 29 is 24389
cube of 30 is 27000
cube of 31 is 29791
cube of 32 is 32768
cube of 33 is 35937
cube of 34 is 39304
cube of 35 is 42875
cube of 36 is 46656
cube of 37 is 50653
cube of 38 is 54872
cube of 39 is 59319
cube of 40 is 64000
cube of 41 is 68921
cube of 42 is 74088
cube of 43 is 79507
cube of 44 is 85184
cube of 45 is 91125
cube of 46 is 97336
cube of 47 is 103823
cube of 48 is 110592
cube of 49 is 117649
cube of 50 is 125000
cube of 51 is 132651
cube of 52 is 140608
cube of 53 is 148877
cube of 54 is 157464
cube of 55 is 166375
cube of 56 is 175616
cube of 57 is 185193
cube of 58 is 195112
cube of 59 is 205379
cube of 60 is 216000
cube of 61 is 226981
cube of 62 is 238328
cube of 63 is 250047
cube of 64 is 262144
cube of 65 is 274625
cube of 66 is 287496
cube of 67 is 300763
cube of 68 is 314432
cube of 69 is 328509
cube of 70 is 343000
cube of 71 is 357911
cube of 72 is 373248
cube of 73 is 389017
cube of 74 is 405224
cube of 75 is 421875
cube of 76 is 438976
cube of 77 is 456533
cube of 78 is 474552
cube of 79 is 493039
cube of 80 is 512000
cube of 81 is 531441
cube of 82 is 551368
cube of 83 is 571787
cube of 84 is 592704
cube of 85 is 614125
cube of 86 is 636056
cube of 87 is 658503
cube of 88 is 681472
cube of 89 is 704969
cube of 90 is 729000
cube of 91 is 753571
cube of 92 is 778688
cube of 93 is 804357
cube of 94 is 830584
cube of 95 is 857375
cube of 96 is 884736
cube of 97 is 912673
cube of 98 is 941192
cube of 99 is 970299
cube of 100 is 1000000
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

## Q5. 
Write a program to filter count vowels in the below-given string. 
string = "I want to become a data scientist"

In [14]:

s = "I want to become a data scientist"
count = 0
for i in s.lower():
    if i in ('a','e','i','o','u'):
        count+=1
print(count)

12