In [3]:
l = [1,2,3,4,5,6,7,8,9]
l1 = []
for i in l:
    l1.append(i+1)
    print(l1)

[2]
[2, 3]
[2, 3, 4]
[2, 3, 4, 5]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10]

# For Loop

In [5]:
l = ["sudh","kumar","pwskills","course"]
l1 = []
for i in l:
    l1.append(i.upper())
    print(l1)

['SUDH']
['SUDH', 'KUMAR']
['SUDH', 'KUMAR', 'PWSKILLS']
['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [7]:
l = [1,2,3,4,4,"sudh","kumar",324,34.456,"abc"]
lstr = []
lnum = []

for i in l:
    
    if type(i) == int or type(i) == float:
        lnum.append(i)
    else:
        lstr.append(i)
        
print(lstr)
print(lnum)

['sudh', 'kumar', 'abc']
[1, 2, 3, 4, 4, 324, 34.456]

In [8]:
l = [1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [9]:
l1 = ['sudh','kumar','krish','naik']
for i in l1:
    print(i)

sudh
kumar
krish
naik

# For else loop

In [10]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

In [12]:
for i in l1:
    if i =="kumar":
        break
    print(i)
else:
    print("if for loop is not completed successfully, I won't be printed!")

sudh

In [13]:
for i in l1:
    if i =="kumar":
        continue
    print(i)
else:
    print("if for loop is not completed successfully, I won't be printed!")

sudh
krish
naik
if for loop is not completed successfully, I won't be printed!

# While loop

In [5]:
a =1 
while a<=10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [7]:
n = int(input("enter your input"))
starting_point = 0
counter =1
while(counter <= n):
    starting_point+=counter
    print(starting_point)
    counter+=1

starting_point

enter your input5
1
3
6
10
15

15

In [11]:
n = int(input("Enter the number for calcularing factorial"))
factorial = 1
while n > 0 :
    factorial *=n
    n-=1

factorial

Enter the number for calcularing factorial6

720

In [14]:
n = int(input("Enter no of items of which fibonacci series is to be generated."))
a , b = 0,1
counter = 0
while(counter < n):
    print(a)
    c = a + b
    a = b
    b = c
    counter+=1

Enter a number upto which fibonacci series is to be generated.9
0
1
1
2
3
5
8
13
21

In [18]:
#fibonacci
a,b =0,1
for i in range(n):
    print(a)
    c =a+b
    a = b
    b = c

0
1
1
2
3
5
8
13
21

In [20]:
#reverse a string
word = input("enter you string for reversal")
reverse = ""
length = len(word)

while(length>0):
    reverse= reverse + word[length-1]
    length -= 1
reverse

enter you string for reversalvedita kamat

'tamak atidev'

In [23]:
n = int(input("Enter the number whose table you wish to generate"))
counter = 1
while(counter <= 10):
    print(n, " * ",counter," = ",n*counter)
    counter +=1

Enter the number whose table you wish to generate21
21  *  1  =  21
21  *  2  =  42
21  *  3  =  63
21  *  4  =  84
21  *  5  =  105
21  *  6  =  126
21  *  7  =  147
21  *  8  =  168
21  *  9  =  189
21  *  10  =  210

In [26]:
for i in range(1,11):
    print(n," * ", i," = ",n*i)

21  *  1  =  21
21  *  2  =  42
21  *  3  =  63
21  *  4  =  84
21  *  5  =  105
21  *  6  =  126
21  *  7  =  147
21  *  8  =  168
21  *  9  =  189
21  *  10  =  210

# While else loop 
The else executes if while loop gets executed successfully.

In [27]:
n = 5
i =1
while i<n:
    print(i)
    i+=1
else:
    print("Executed once while completes successfully.")

1
2
3
4
Executed once while completes successfully.

In [28]:
n = 5
i = 1
while i<n:
    print(i)
    if i==2:
        break
    i+=1
else:
    print("I won't be executed")

1
2

# Generator function
Generates/produces data based on the provided range.
range -> [start,end] will produce numbers from start to end-1

In [14]:
range(0,5)

range(0, 5)

In [15]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [19]:
len(l1)

4

In [22]:
list(range(len(l1)))

[0, 1, 2, 3]

In [23]:
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
naik

In [27]:
#reversed list
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [29]:
#printing values at even indexes
l2 = [23,5,45,56,6,67,78,87,8998,9,9,8]
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
78
8998
9

In [31]:
#printing values at odd indexes
l2 = [23,5,45,56,6,67,78,87,8998,9,9,8]
for i in range(1,len(l2),2):
    print(l2[i])

5
56
67
87
9
8

In [34]:
l = [1,2,3,4,7,8,98]
print(sum(l))

#sum of list elements using for loop
result = 0
for i in l:
    result+=i
print(result)

123
123

In [35]:
#tuple iteration
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [37]:
#set iteration
s = {1,2,4,5,6,7,4,5}
for i in s:
    print(i)

1
2
4
5
6
7

In [38]:
s1 = "pwskills"
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [39]:
d = {"name":"Vedita","age":22,"class":"ds masters","topic":['python','stats','ML','DL']}

In [42]:
for i in d.keys():
    print(d[i])

Vedita
22
ds masters
['python', 'stats', 'ML', 'DL']

In [43]:
d.values()

dict_values(['Vedita', 22, 'ds masters', ['python', 'stats', 'ML', 'DL']])

In [44]:
for i in d.values():
    print(i)

Vedita
22
ds masters
['python', 'stats', 'ML', 'DL']

In [46]:
for i in d.items():
    print(i)

('name', 'Vedita')
('age', 22)
('class', 'ds masters')
('topic', ['python', 'stats', 'ML', 'DL'])

In [47]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))

'p w s k i l l s'

In [48]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [50]:
s = "I want to become a data scientist"
for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [51]:
s.center()

TypeError: ljust expected at least 1 argument, got 0