# Functions

In [1]:
#method without a body defined
def test():
    pass

In [2]:
test()

In [3]:
def test1():
    print("this is my very very first function")

In [6]:
test1()
test1() + "vedita" #print returns NoneType

this is my very very first function
this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
#returning from a method
def test2():
    return ("this is my very very first function")

In [12]:
test2()

'this is my very very first function'

In [11]:
test2() + " Vedita"

'this is my very very first function Vedita'

In [14]:
#returning multiple outputs from function
def test3():
    return "sudh",1,24.5,[1,2,3,4]
test3()

('sudh', 1, 24.5, [1, 2, 3, 4])

In [15]:
a,b,c,d = test3()
print(d)

[1, 2, 3, 4]

In [16]:
def test5(a,b,c):
    d=a+b/c
    return d

In [17]:
test5(2,5,8)

2.625

In [19]:
test5('hey',2,3)

TypeError: can only concatenate str (not "float") to str

In [ ]:
l1 = []
for i in l:
    if type(i) ==int or type(i)==float:
        l1.append(i)

In [20]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) ==int or type(i)==float:
            l1.append(i)
    return l1;

In [21]:
test7([1,2,3,4,'hey',[8,9,0]])

[1, 2, 3, 4]

In [26]:
def test8(l):
    """this is my function to extract new data from list"""
    l1 = []
    for i in l:
        if(type(i)==list):
            for j in i:
                if type(j) ==int or type(j)==float:
                    l1.append(j)
        
        if type(i) ==int or type(i)==float:
            l1.append(i)
    return l1;

In [25]:
test8([1,2,3,4,'hey',[8,9,0, 'hfgg',[9,8,7]]])

[1, 2, 3, 4]

In [27]:
#passing multiple inputs
def test11(*args):
    return args

In [28]:
test11(1,2,3,'sudh','kumar',[1,2,3,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4])

In [29]:
def test12(*args,a):
    return args, a

In [35]:
test12(1,2,3,'sudh','kumar',[1,2,3,4],a=89)

((1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4]), 89)

In [36]:
def test14(c,d,a=23,b=1):
    return a,b,c,d

In [37]:
test14(89,90)

(23, 1, 89, 90)

In [40]:
def test15(**kwargs):
    return kwargs

In [41]:
test15(a=[1,6,7,8],b="vedita",c=90)

{'a': [1, 6, 7, 8], 'b': 'vedita', 'c': 90}

In [42]:
!pip install python-sonarqube-api

Collecting python-sonarqube-api
  Downloading python_sonarqube_api-1.3.6-py3-none-any.whl (84 kB)
Requirement already satisfied: requests in c:\users\kamat\anaconda3\lib\site-packages (from python-sonarqube-api) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kamat\anaconda3\lib\site-packages (from requests->python-sonarqube-api) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\kamat\anaconda3\lib\site-packages (from requests->python-sonarqube-api) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kamat\anaconda3\lib\site-packages (from requests->python-sonarqube-api) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kamat\anaconda3\lib\site-packages (from requests->python-sonarqube-api) (2.10)
Installing collected packages: python-sonarqube-api
Successfully installed python-sonarqube-api-1.3.6

# Lambda Functions

It is also called as anonymous function/one-liner function

In [1]:
n = 3
p = 2

In [2]:
def test(n,p):
    return n**p

In [3]:
test(3,2)

9

In [5]:
a = lambda n, p:n**p

In [7]:
a(3,2)

9

In [8]:
add = lambda x,y:x+y

In [9]:
add(3,-1)

2

In [10]:
#celsius to ferhenheit
c_to_f = lambda c : (9/5)*c +32

In [11]:
c_to_f(45)

113.0

In [14]:
#return max of two numbers
find_max = lambda a,b: a if a>b else b

In [15]:
find_max(99,-999)

99

In [16]:
#find length of a string
find_len = lambda s : len(s)

In [17]:
find_len('vedita kamat')

12

In [18]:
find_len([1,2,3,4])

4

In [19]:
find_len(['add','sub','mult'])

3